@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-delta;
    font-family: "Roboto", sans-serif;
}

textarea:focus, input:focus{
    outline: none;
}

#app {
    overflow-x: hidden;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 70%;
}

.top-container {
    position: relative;
    z-index: 200;
    max-width: 600px;
    margin: 0 auto;
    margin-top: -50px;
    display: block;
    max-width: 70%;
    @apply mx-auto;
    @apply bg-epsilon;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(45deg, #999, #FFF 55%);
    overflow: hidden;
    animation: fadeIn;
    animation-duration: 1s;
}

/* --------------------------------------------------------------------------
// HEADER
// ------------------------------------------------------------------------*/
.header {
    border-radius: 2.5rem;
    background-image: linear-gradient(0deg, #393952, black);
    margin-left: -8px;
    margin-right: -8px;
    min-height: 12rem;
    @apply block;
    @apply rounded-t-none;
}

.header-logo {
    position: relative;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

.header-nav {
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.header-nav-btn {
    @apply bg-gamma;
    color: #fff;
    height: 45px;
    width: 45px;
    z-index: 9999;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    margin-right: 20px;
}

.header-nav-title {
    @apply text-delta;
    font-size:23px;
    text-shadow: 0 0 0px #fff, 0 0 16px #fff, 0 0 24px #fff;
}

/*--------------------------------------------------------------------------
 HOME
--------------------------------------------------------------------------*/
.home {
    position:relative;
    margin-top: -50px;
    z-index:200;
}
.home-search {
    display: block;
    max-width: 70%;
    @apply mx-auto;
    @apply bg-epsilon;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-bottom:20px;
}
.home-search-text {
    position: relative;
}
.home-search-text-input {
    display: block;
    text-align: center;
    color: #c0c0c0;
    font-size: 16px;
    line-height: 45px;
    width: 100%;
}
.home-search-text-btn {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    border-radius: 100%;
    cursor:pointer;
    @apply bg-delta;
    @apply text-alpha;
    transition: 0.25s all ease;
}
.home-search-text-btn:hover {
    @apply text-beta;
}
.home-search-btnSearch {
    display: block;
    margin-bottom: -10px;
    @apply bg-beta;
    @apply text-alpha;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align:center;
    cursor: pointer;
    transition: 0.25s all ease;
    width: 100%;
}
.home-search-btnSearch:hover {
    @apply text-epsilon;
}
.home-search-filters {
    @apply bg-delta;
    display: block;
    max-height: 0px;
    transition: 0.25s all ease;
    overflow:hidden;
}
.home-search-filters-title {
    border-bottom: 1px solid;
    font-size: 15px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    @apply text-beta;
    @apply border-alpha;
}
.home-search-filters.active {
    max-height:240px;
}
.home-search-filters-item {
    display: flex;
    align-items: center;
}
.home-search-filters-item-checkbox {
    width:1rem;
    height:1rem;
    margin-right: 5px;
}

.home-cards {
    @apply grid;
    @apply grid-cols-1;
    @apply gap-4;
    @apply mb-4;
    @apply mx-auto;
    max-width:70%;
}

.home-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    max-width: 300px;
    margin: 0 auto;
}

.home-pagination-item {
    margin: 5px;
    cursor:pointer;
    @apply text-beta;
}

.home-pagination-item:hover, .home-pagination-item.active {
    @apply text-alpha;
    text-decoration: underline;
}

.home-arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    font-size: 5rem;
    cursor:pointer;
    @apply text-beta;
    transition: 0.25s all ease;
    opacity:0.2;
}
.home-arrow.active {
    opacity:1;
}
.home-arrow.active:hover {
    @apply text-gamma;
}
.home-arrow.left {
    left: 0;
}
.home-arrow.right {
    right: 0;
}

.home-nav {
    display: flex;
    font-size: 12px;
}
.home-nav-title {
    font-weight: bold;
    margin-right: 5px;
    @apply text-beta;
}
.home-nav-item {
    display: flex;
    align-items: center;
    @apply text-beta;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.25s all ease;
}
.home-nav-item .material-symbols-outlined {
    font-size:18px;
}
.home-nav-item-label:hover, .home-nav-item-label.active {
    @apply text-alpha;
    text-decoration: underline;
}

/*--------------------------------------------------------------------------
 LOADING
--------------------------------------------------------------------------*/
.loading {
    display: none;
    position: fixed;
    inset: 0 0 0 0;
    background-color: #ffffffd4;
    z-index: 9999;
}
.loading-spinner {
    width: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.loading.on {
    display: block;
}
.loading.on .loading-spinner {
    animation: 1s ease-in-out loading-spin infinite;
}

@keyframes loading-spin {
    from { transform: translate(-50%, -50%) rotate(0); }
    to   { transform: translate(-50%, -50%) rotate(360deg); }
}

/*--------------------------------------------------------------------------
 POKECARD
--------------------------------------------------------------------------*/
.pokecard {
    margin-top: 10px;
    display:block;
    min-width:150px;
    padding-bottom: 5px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align:center;
    cursor:pointer;
    animation: fadeIn;
    animation-duration: 1s;
    background-color: #fff;
}

.pokecard-picture {
    display: block;
    margin: 0 auto;
    height: 100px;
    width:100%;
    max-height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

.pokecard-name {
    font-size: 12px;
    font-weight: bold;
}

.pokecard-id {
    font-size: 12px;
}

/*--------------------------------------------------------------------------
 DETAIL
--------------------------------------------------------------------------*/
.detail {
    position: relative;
    z-index: 200;
    max-width: 600px;
    margin: 0 auto;
    margin-top: -50px;
    display: block;
    max-width: 70%;
    @apply mx-auto;
    @apply bg-epsilon;
    border-radius: 12px;
    padding: 10px;
    padding-top: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(45deg, #999, #FFF 55%);
    overflow: hidden;
    animation: fadeIn;
    animation-duration: 1s;
}

.detail-picture {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.detail-info {
    display: flex;
    margin-bottom: 5px;
}
.detail-info-name {
    position: relative;
    font-size:25px;
    font-weight: bold;
    margin-right: 40px;
    @apply text-gamma;
}

.detail-info-name-text {
    position: relative;
}

.detail-info-name-id {
    position: absolute;
    top: 0;
    right: -40px;
    margin-left: 10px;
    font-size: 14px;
    @apply text-beta;
}

.detail-body {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
}

.detail-body-description {
    font-size: 12px;
    @apply text-gamma;
    animation: fadeIn;
    animation-duration: 1s;
}

.detail-body-stats {
    position: relative;
    flex: 1;
    animation: fadeIn;
    animation-duration: 1s;
}

.detail-body-stats-item {
    display: flex;
    flex: 1;
    justify-content: space-between;
    border-image-slice: 1;
    border-bottom-width: 5px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    font-size: 10px;
}

.detail-body-stats-item-name {
    font-weight: bold;
    @apply text-gamma;
    line-height: 1rem;
}

.detail-body-stats-item-value {
    line-height: 1rem;
}

.detail-body-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-body-action {
    display: block;
    border-radius: 10px;
    margin-left: 12px;
    padding: 10px;
    font-size: 16px;
    cursor:pointer;
    @apply bg-delta;
    @apply text-beta;
}

.detail-body-action:hover {
    @apply text-gamma;
}

.detail-body-action.active {
    @apply text-delta;
    @apply bg-beta;
}

.detail-body-action-icon {
    display: block;
    width: 50px;
    height: 50px;
}

.detail-body-infos {
    position:absolute;
    left: 0;
    right: 48px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    opacity: 0;
    transition: opacity 1s;
}

.detail-info-nav {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: right;
}

.detail-info-nav-item {
    cursor: pointer;
    margin-left: 10px;
    font-size:14px;
    @apply text-alpha;
}

.detail-info-nav-item:hover {
    @apply text-delta;
}

/*--------------------------------------------------------------------------
 PARTICLES
--------------------------------------------------------------------------*/
.particles {
    position: absolute;
    top: 0;
    height: 190px;
    left: 0;
    right: 0;
    overflow: hidden;
}

.particles canvas {
    position:absolute!important;
    top:0!important;
    left:0!important;
    right:0!important;
    bottom:0!important;
}

/*--------------------------------------------------------------------------
 NAV
--------------------------------------------------------------------------*/
.nav {
    position:absolute;
    top:0;
    height: 100%;
    z-index: 1000;
}
.nav-btn {
    @apply bg-gamma;
    position: absolute;
    left: 20px;
    top: 10px;
    color: #fff;
    height: 45px;
    width: 45px;
    z-index: 9999;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.nav-btn-icon {
    position: absolute;
    font-size: 23px;
    transition: all 0.3s ease;
}
.nav-btn-icon--close {
    opacity: 0;
}
.nav-btn.active {
    left: 247px;
}
.nav-btn.active .nav-btn-icon--close {
    opacity: 1;
    transform: rotate(-180deg);
}
.nav-btn.active .nav-btn-icon--open {
    opacity: 0;
    transform: rotate(180deg);
}

.nav-bar {
    @apply bg-beta;
    position: fixed;
    height: 100%;
    width: 270px;
    overflow: hidden;
    left: -270px;
    transition: all 0.3s ease;
}
.nav-bar.active {
    left: 0;
}
.nav-bar-user {
    @apply text-delta;
    padding: 10px;
    padding-left: 40px;
    font-weight: bold;
}
.nav-bar-items {
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
}
.nav-bar-items-li {
    display: flex;
    align-items: center;
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid #00000033;
    transition: all 0.3s ease;
    cursor:pointer;
    @apply text-delta;
}
.nav-bar-items-li:hover {
    @apply text-epsilon;
}
.nav-bar-items-li:first-child {
    border-top: none;
}
.nav-bar-items-li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
    transition: 1s all ease;
}
.nav-bar-items-li-icon {
    margin-right:10px;
}

/*--------------------------------------------------------------------------
 NAV OVERLAY
--------------------------------------------------------------------------*/
.overlay {
    display: none;
    position: fixed;
    inset: 0 0 0 0;
    background: #000000a6;
    z-index: 900;
}
.overlay.active {
    display: block;
}

/*--------------------------------------------------------------------------
 INPUT
--------------------------------------------------------------------------*/
.input {
    @apply bg-gray-50;
    @apply border;
    @apply border-delta;
    @apply text-beta;
    @apply text-sm;
    @apply rounded-lg;
    @apply focus:ring-gamma;
    @apply focus:border-alpha;
    @apply block;
    @apply w-full;
    @apply p-1.5;
}

/*--------------------------------------------------------------------------
 BUTTON
--------------------------------------------------------------------------*/
.button {
    @apply text-white;
    @apply bg-beta;
    @apply hover:bg-gamma;
    @apply focus:ring-4;
    @apply focus:outline-none;
    @apply focus:ring-delta;
    @apply font-medium;
    @apply rounded-lg;
    @apply text-sm;
    @apply w-full;
    @apply px-5;
    @apply py-2.5;
    @apply text-center;
}

/*--------------------------------------------------------------------------
 FORM
--------------------------------------------------------------------------*/
.form {
    max-width: none;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.form-title {
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom:10px;
    @apply border-gamma;
    @apply text-gamma;
}

.form-error {
    font-size:12px;
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* --------------------------------------------------------------------------
// NOTIFICATION
// ------------------------------------------------------------------------*/
.notification {
    position: relative;
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
    min-width: 300px;
    max-width: 300px;
    line-height: 1.5;
    @apply border-delta;
}